.nav-item{
    list-style-type: none;
}

a[href="account"]{
    text-decoration: none;
    color: #FFFFFF;
    margin: auto;
}

.tab-pane.active{
    border: solid black 1px;
}

.nav-item.account{
    width: 25%;
}

/*Homepage css*/
h1 {font-size:12px;}
h2{font-size:22px;font-weight:bold;}
h3{font-size:20px;font-weight:bold;}
h4{font-size:18px;font-weight:bold;}
h5{font-size:12px;}
h6{font-size:12px;}
p{font-size:14px;}
img {width:100%;}

.nav-link{
    color:#FFF;
}

.navbar-toggler{
    background-color:#000;
}
/*einde homepage css*/

input[type=password]{
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.account-btns{
    float: right;
}

.booking{
    min-height: 250px;
    border: #cccccc solid 2px;
}

.booking-img{
    width: 75%;
    margin: 10px auto;
    height: 100px;
    border: black solid 1px;
}

.cart_row{
    margin-top: 100px;
}

.cart_container, .checkout_container{
    margin-top: 100px;
}

.cart_row .btn-primary, .cart_row .btn-warning{
    margin-bottom: 10px;
}

.cart_button{
    float: right;
}

.checkout_btn{
    margin-left: 80%;
}


/* Header */
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer:coarse) and (hover:none) {
    header {
        background: url('http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.breadcrumb {
    margin-bottom: 0px;
}
/*header end*/