.nav-item{
    list-style-type: none;
}

a[href="account"]{
    text-decoration: none;
    color: #FFFFFF;
    margin: auto;
}

.tab-pane.active{
    border: solid black 1px;
}

.nav-item{
    width: 25%;
}